@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $siteText;
  background: $background;
}

.site {
  &-header {
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 10px;
    background: #333;
    color: $site;
    z-index: 10;
  }
}

.navigation {
  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    display: block;
    margin: 0 16px;
  }
  &__link {
    color: $link;
  }
  &__switcher {
    border: none;
    background: none;
    color: #fff;
    position: absolute;
    right: 16px;
    top: 16px;

    @media screen and (min-width: 960px) {
      display: none;
    }

    @media screen and (min-width: 640px) and (max-width: 960px){
      display: none;
    }
  }
}

.header {
  &__title {
    color: $title;
  }
}

.main {
  width: 100%;
  max-width: 700px;
  margin: 32px auto;
  padding-top: 50px;
}

.about {
  &__header {
    color: $header;
  }
  &__paragraph {
    padding: 16px;
  }
  &__link {
    color: $link;
  }
}

.diary {
  &__header {
    color: $header;
  }
}

.post {
  &__header {
    color: $postHeader;
    &::before {
      content: " - ";
    }
  }
  &__link {
    color: $link;
  }
  &__paragraph {
    padding: 16px;
  }
}

.footer {
  background: $siteText;
  color: $site;
  min-height: 50px;
  width: 100%;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 640px) and (max-width: 960px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 960px){
    grid-template-columns: 1fr 1fr 1fr;
  }
}
